/* .MuiDialog-paperWidthSm {
width: 95%;
}


.MuiDialog-paperScrollPaper {
height: 85%;
} */

/* .MuiPaper-root {
    height: 85%;
    width: 95%;
} */


/* .MuiPaper-root,  */
/* .MuiDialog-paper, .MuiDialog-paperScrollPaper, .MuiDialog-paperWidthSm, .MuiPaper-elevation24, .MuiPaper-rounded {
    height: 90%;
    width: 90%;
} */